<!Doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div> 
  <h1 id="h1 text">H1 Text</h1>   
  <h2 class="h2 text">TTT</h2>
  <p>Шикака</p>
  <a href="https://www.python.org/" target="_blank">Python</a>
  <img alt="browser.png" src="https://www.python.org/static/img/python-logo.png" style="width: 80px">
  <ul>
    <li>попс</li>
    <li>мопс</li>
  </ul>
  <ol>
    <li>жопс</li>
    <li>лепс</li>
  </ol>
  <form action="/action" method="POST">
    <input placeholder="имя">
    <input placeholder="Email">
    <input type="password" placeholder="Password"
    <textarea></textarea>
    <button type="submit">кнопка</button>
  </form>
  <table>
    <thead>
      <tr>
        <td>sisa 1</td>
        <td>sisa 2</td>
        <td>sisa 3</td>
      </tr>

    </thead>
    <tbody>
       <tr>
        <td>Item 1</td>
        <td>Item 2</td>
        <td>Item 3</td>
      </tr>
      <tr>
        <td>Item 1</td>
        <td>Item 2</td>
        <td>Item 3</td>
      </tr> 
    </tbody>

  </table>
</div>
</body>
</html>